* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0,0,0);
  font-family: 'Philosopher', sans-serif;
}

.centering {
  padding-left: 50%;
}

.mordor {
  background-image: url(1.png);
}

.left ,
.right {
  position: relative;
  display: block;
  float: left;
}

.left {
  top: 498px;
}

.right {
  bottom: 502px;
}
